#lid_diam_flt_offset_three_tier {
    position: absolute;
    top: 3.7%;
    left: 39%;
    width: 11%;
    height: 4.5%;
}

#chimney_diam_flt_offset_three_tier {
    position: absolute;
    top: 23.2%;
    left: 39%;
    width: 11%;
    height: 4.5%;
}

#chimney_depth_flt_offset_three_tier {
    position: absolute;
    top: 15.9%;
    left: 62.2%;
    width: 11%;
    height: 4.5%;
}

#chimney_depth2_flt_offset_three_tier {
    position: absolute;
    top: 28%;
    left: 72.3%;
    width: 11%;
    height: 4.5%;
}

#corbel_depth_flt_offset_three_tier {
    position: absolute;
    top: 24.0%;
    left: 72%;
    width: 11%;
    height: 4.5%;
}

#body_diam_c_flt_offset_three_tier {
    position: absolute;
    top: 29.7%;
    left: 44%;
    width: 11%;
    height: 4.5%;
}

#body_diam_d_flt_offset_three_tier {
    position: absolute;
    top: 47.5%;
    left: 44%;
    width: 11%;
    height: 4.5%;
}

#body_diam_e_flt_offset_three_tier {
    position: absolute;
    top: 54%;
    left: 49%;
    width: 11%;
    height: 4.5%;
}

#body_diam_f_flt_offset_three_tier {
    position: absolute;
    top: 68.2%;
    left: 49%;
    width: 11%;
    height: 4.5%;
}

#body_diam_g_flt_offset_three_tier {
    position: absolute;
    top: 84.2%;
    left: 49%;
    width: 11%;
    height: 4.5%;
}

#bench_depth_flt_offset_three_tier {
    position: absolute;
    top: 48%;
    left: 21.2%;
    width: 11%;
    height: 4.5%;
}

#invert_depth_flt_offset_three_tier {
    position: absolute;
    top: 59%;
    left: 13.6%;
    width: 11%;
    height: 4.5%;
}

#invert_diam_flt_offset_three_tier {
    position: absolute;
    top: 91.6%;
    left: 62%;
    width: 11%;
    height: 4.5%;
}