@media (max-width: 1399px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: initial;
  }
}

html {
   height: 100vh;
   overflow: hidden;
}

body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgb(2, 53, 125), rgb(2, 53, 125));
}

.scrollable-container {
    display: flex;
    flex-direction: column;
}

.scrollable-list {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: auto;
    height: 675px;
}

.scrollable-list::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.trplx-jumbotron {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.scrollable-item {
    min-height: 100px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content-container {
    -moz-box-pack: end;
    justify-content: flex-end;
    margin: 5px;
    min-height: 76px;
}

.content-jumbotron {
    background-color: rgb(229, 239, 255);
    width: 100%;
    margin: 0px;
    padding: 25px 15px 9px;
    text-align: center;
}

.title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: rgb(2, 53, 125);
}

.description {
    color: rgba(2, 53, 125, 0.7);
    outline: none;
    margin-top: 6px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    word-break: break-word;
    min-width: 30px;
}

.navigation-container {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-fill-mode: both;
  color: #fff;
  width: 100%;
  position: fixed;
  transition: .3s;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
}

.navigation-container button {
  height: 3rem;
  max-width: 8rem;
  width: auto;
  padding: 0 20px;
  border: 0;
  border-radius: 4px;
  font-size: var(--small-font-size);
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  color: #2c3345;
}

.navigation-message {
    flex: 1;
    align-self: center;
    font-size: var(--small-font-size);
    font-weight: 600;
}

.navigation-container {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-fill-mode: both;
  color: #fff;
  width: 100%;
  position: fixed;
  transition: .3s;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1rem;
}

#error-navigation {
    background-color: rgba(242,58,60,.94);
}

#success-navigation {
    background-color: rgb(99, 177, 117);
}
