#lid_diam_std_center_three_tier {
    position: absolute;
    top: 3.8%;
    left: 42%;
    width: 11%;
    height: 4.5%;
}

#chimney_diam_std_center_three_tier {
    position: absolute;
    top: 23.2%;
    left: 42%;
    width: 11%;
    height: 4.5%;
}

#chimney_depth_std_center_three_tier {
    position: absolute;
    top: 15%;
    left: 59.5%;
    width: 11%;
    height: 4.5%;
}

#chimney_depth2_std_center_three_tier {
    position: absolute;
    top: 21%;
    left: 67.2%;
    width: 11%;
    height: 4.5%;
}

#chimney_depth3_std_center_three_tier {
    position: absolute;
    top: 28%;
    left: 74.7%;
    width: 11%;
    height: 4.5%;
}

#chimney_depth4_std_center_three_tier {
    position: absolute;
    top: 35%;
    left: 82.4%;
    width: 11%;
    height: 4.5%;
}

#corbel_depth_std_center_three_tier {
    position: absolute;
    top: 24.0%;
    left: 72%;
    width: 11%;
    height: 4.5%;
}

#corbel_slope_std_center_three_tier {
    position: absolute;
    top: 33.5%;
    left: 58%;
    width: 11%;
    height: 4.5%;
}

#body_diam_c_std_center_three_tier {
    position: absolute;
    top: 30.4%;
    left: 42%;
    width: 11%;
    height: 4.5%;
}

#body_diam_d_std_center_three_tier {
    position: absolute;
    top: 47.4%;
    left: 42%;
    width: 11%;
    height: 4.5%;3
}

#body_diam_e_std_center_three_tier {
    position: absolute;
    top: 54.7%;
    left: 42%;
    width: 11%;
    height: 4.5%;
}

#body_diam_f_std_center_three_tier {
    position: absolute;
    top: 70.5%;
    left: 42%;
    width: 11%;
    height: 4.5%;
}

#body_diam_g_std_center_three_tier {
    position: absolute;
    top: 84.2%;
    left: 42%;
    width: 11%;
    height: 4.5%;
}

#bench_depth_std_center_three_tier {
    position: absolute;
    top: 48.1%;
    left: 14.1%;
    width: 11%;
    height: 4.5%;
}

#invert_depth_std_center_three_tier {
    position: absolute;
    top: 59%;
    left: 6.5%;
    width: 11%;
    height: 4.5%;
}

#invert_diam_std_center_three_tier {
    position: absolute;
    top: 91.6%;
    left: 55%;
    width: 11%;
    height: 4.5%;
}

#canister_diam_std_center_three_tier {
    position: absolute;
    top: 4%;
    left: 46%;
    width: 11%;
    height: 4.5%;
}